# Dockerを使用する場合はNeon Proxy経由で接続するため、docker-compose.ymlと値が異なる点に注意
DATABASE_URL=http://localhost:4444/YOUR_USER_NAME_HERE:YOUR_PASSWORD_HERE@localhost/YOUR_DB_NAME_HERE

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CORS_ORIGIN=